@()

@main("Welcome") {
<div class="top-div">
    <nav class="navbar navbar-default " style="margin-bottom : 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img id="logo"
                                                      src=@routes.Assets.versioned("images/knoldus-logo.jpg")/> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="main-img">
                <div class="col-xs-8" col-md-2>
                    <h1 class="para"><strong>YET ANOTHER SLIDE HTML THEME</strong></h1>
                    <h4>Lorem Ipsum is simply dummy text of printing and typesetting industry</h4>
                    <button type="button" class="btn">Read more</button>
                </div>
            </div>
        </div>
    </div>
    <!------------------>
    <div class=" textdisplay">
        <h1><strong><br>ABOUT</strong></h1>
        <h3>This is your first session!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="">
                    <img src=@routes.Assets.versioned("images/image3.png")/>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class=" col-md-9 col-md-offset-2 about">
                    <h2><strong>ABOUT OUR CONSULTING</strong></h2>
                    <div class="row">
                        <div class="col-md-2">
                            <br>
                            <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                        </div>
                        <div class="col-md-10">

                            <h3>Boost Your Business</h3>
                            <p>Test about boost your business .............. ......................
                                ................. .................. ...............
                                ............... ...............</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <br>
                            <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>

                        </div>
                        <div class="col-md-10">
                            <h3>Best Business Statistics</h3>
                            <p>Text about best business
                                statistics.........................................</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <br>
                            <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                        </div>
                        <div class="col-md-10">
                            <h3>24/7 Online Support</h3>
                            <p>Text about 24/7 online
                                support........................................................</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!------------------>

    <div class="textdisplay">
        <h1><strong><br>SERVICES</strong></h1>
        <h3>Introduction about services!!!!!!!!!!!!!!!!!<br>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
    </div>

    <div class=" service container-fluid">
        <div class="row">
            <div class="col-md-6 service-left">
                <div class="row"><br>
                    <div class="col-md-5 col-md-offset-2">

                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>FINANCIAL PLANNING</h4>
                        <p>Test about financial planning</p>
                        <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>WORK AND REDUNDANCY</h4>
                        <p>Test about work and redundancy</p>
                        <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>RETIREMENT PLANNING</h4>
                        <p>Test about retirement planning</p>
                    </div>


                    <div class="col-md-5 ">
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>BUSINESS PLANNING</h4>
                        <p>Test about business planning</p>
                        <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>MORTGAGE ADVISOR</h4>
                        <p>Test about mortgage advisor</p>
                        <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                        <h4>SAVING AND INVESTING</h4>
                        <p>Test about saving and investing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 services-right">
                <div class="services-right-inner">
                    <h2>Our Services</h2>
                    <div class="col-md-offset-5" align="right">
                        <p>Text about services. sdakjaisdhiwudh kjdidj wididiwhd kiwjdhiwhdiwuh
                            kjdshsfkkjh kldlfjehefk efkhkjsdhf ..... . ....... ........... .......
                            ........... .......... ...... ............. ........... ..........</p>
                        <button type="button" class="btn">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="consult container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3 style="color: white">Need to <a href="#">Consult with us </a>?Book an appointment</h3>
                <p>The brandy brunch.....</p>
            </div>
            <div class="col-mod-4">
                <br>
                <button type="button" class="btn col-md-offset-2 btn-book-now">Book Now</button>

            </div>
        </div>
    </div>

    <div class="textdisplay">
        <h1><strong><br>PORTFOLIO</strong></h1>
        <h3>text about portfolio......</h3>
    </div>
    <div class="portfolio ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img"  src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img"  src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>

                </div>
                <div class="col-md-3 col-sm-12 img-outer">
                    <img class="img" src=@routes.Assets.versioned("images/image9.jpg")/>
                </div>
            </div>
        </div>
    </div>
    <div class="textdisplay">
        `
        <h1><strong><br>GET IN TOUCH</strong></h1>
        <h3>text about get in touch......</h3>
    </div>
        <div class="container-fluid">
            <form>
                <div class="row" style="padding: 10px;">
                    <div class="form-inline">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 20px;">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <button id="send-now" class="btn btn-default" style="align:center;">Send Now</button>
                    </center>
                </div>
            </form>
        </div>



    </div>
</div>

}