@()

@main("Welcome") {
<div class="top-div">
    <nav class="navbar navbar-default" style="margin-bottom : 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img id="logo" src=@routes.Assets.versioned("images/knoldus-logo.jpg")/> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="main-img">
            <div class="col-xs-5">
                <h1 class="para"><strong>YET ANOTHER SLIDE HTML THEME</strong></h1>
                <h4>Lorem Ipsum is simply dummy text of printing and typesetting industry</h4>
                <button type="button" class="btn">Read more</button>

            </div>
    </div>
    </div>
        <!------------------>
            <div class=" textdisplay">
                <h1><strong>ABOUT</strong></h1>
                <h3>This is your first session!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
            </div>
    <div class="row container-fluid">
                <div class="col-md-6 ">
                    <div class="col-md-offset-2">
                        <img src=@routes.Assets.versioned("images/image3.png")/>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class=" col-md-9 col-md-offset-2 about" >
                        <h2><strong>ABOUT OUR CONSULTING</strong></h2>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="col-md-10">

                                <h3>Boost Your Business</h3>
                                <p>Test about boost your business .............. ......................
                                    ................. .................. ...............
                                    ............... ...............</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>

                            </div>
                            <div class="col-md-10">
                                <h3>Best Business Statistics</h3>
                                <p>Text about best business
                                    statistics.........................................</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="col-md-10">
                                <h3>24/7 Online Support</h3>
                                <p>Text about 24/7 online
                                    support........................................................</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!------------------>

    <div class="textdisplay">
        <h1><strong>SERVICES</strong></h1>
        <h3>Introduction about services!!!!!!!!!!!!!!!!!<br>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
    </div>

    <div class="row service container-fluid">
        <div class="col-md-6 service-left">
            <div class="row">
                <div class="col-md-5  col-md-offset-2">

                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>FINANCIAL PLANNING</h4>
                    <p>Test about financial planning</p>
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>WORK AND REDUNDANCY</h4>
                    <p>Test about work and redundancy</p>
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>RETIREMENT PLANNING</h4>
                    <p>Test about retirement planning</p>
                </div>


                <div class="col-md-5 ">
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>BUSINESS PLANNING</h4>
                    <p>Test about business planning</p>
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>MORTGAGE ADVISOR</h4>
                    <p>Test about mortgage advisor</p>
                    <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                    <h4>SAVING AND INVESTING</h4>
                    <p>Test about saving and investing</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 services-right">
            <div class="services-right-inner">
                <h2>Our Services</h2>
                <p>Text about services. sdakjaisdhiwudh kjdidj wididiwhd kiwjdhiwhdiwuh
                kjdshsfkkjh kldlfjehefk efkhkjsdhf ..... . ....... ........... .......
                ........... .......... ........... ............. ........... ..........</p>
                <button type="button" class="btn">learn more</button>
            </div>
        </div>
    </div>

    <div class="consult container-fluid">
        <div class="col-md-8">

        <h3>Need to <a href="#">Consult with us </a>?Book an appointment</h3>
        <p>The brandy brunch.....</p>
        </div>
        <div class="col-mod-4">
            <br><button type="button" class="btn">Book Now</button>

        </div>
    </div>

<div class="textdisplay">
    <h1><strong>PORTFOLIO</strong></h1>
    <p>text about portfolio......</p>
</div>
<div class="portfolio container-fluid">
    <div class="row">
    <div class="col-md-3">
        <img src=@routes.Assets.versioned("images/image4.png")/>

    </div>
    <div class="col-md-3">
        <img src=@routes.Assets.versioned("images/image4.png")/>

    </div>
    <div class="col-md-3">
        <img src=@routes.Assets.versioned("images/image4.png")/>

    </div>
    <div class="col-md-3">
        <img src=@routes.Assets.versioned("images/image4.png")/>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src=@routes.Assets.versioned("images/image4.png")/>

        </div>
        <div class="col-md-3">
            <img src=@routes.Assets.versioned("images/image4.png")/>

        </div>
        <div class="col-md-3">
            <img src=@routes.Assets.versioned("images/image4.png")/>

        </div>
        <div class="col-md-3">
            <img src=@routes.Assets.versioned("images/image4.png")/>
        </div>
    </div>
</div>
    <div class="textdisplay">
        <h1><strong>GET IN TOUCH</strong></h1>
        <p>text about get in touch......</p>
    </div>
    <div class="container-fluid">
        <form>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject">
            </div>
            <button type="submit" class="btn btn-default">Send Now</button>
        </form>

    </div>

</div>




}