@()

@main("Welcome") {
<div class="top-div">
    <nav class="navbar navbar-default" style="margin-bottom : 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src=@routes.Assets.versioned("images/favicon.png")/> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="main-img">
            <div class="col-xs-5">
                <h1 class="para"><strong>YET ANOTHER SLIDE HTML THEME</strong></h1>
                <h4>Lorem Ipsum is simply dummy text of printing and typesetting industry</h4>
                <button type="button" class="btn">Read more</button>

            </div>
        </div>
        <!------------------>
        <div>
            <div class=" textdisplay">
                <h1><strong>ABOUT</strong></h1>
                <h3>This is your first session!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="col-md-offset-2">
                        <img src=@routes.Assets.versioned("images/image3.png")/>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class=" col-md-9 col-md-offset-2 about">
                        <h2><strong>ABOUT OUR CONSULTING</strong></h2>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <img src=@routes.Assets.versioned("images/image6.png")/>
                            </div>
                            <div class="col-md-10">

                                <h3>Boost Your Business</h3>
                                <p>Test about boost your business .............. ......................
                                    ................. .................. ...............
                                    ............... ...............</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <img src=@routes.Assets.versioned("images/image6.png")/>
                            </div>
                            <div class="col-md-10">
                                <h3>Best Business Statistics</h3>
                                <p>Text about best business
                                    statistics.........................................</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <img src=@routes.Assets.versioned("images/image6.png")/>
                            </div>
                            <div class="col-md-10">
                                <h3>24/7 Online Support</h3>
                                <p>Text about 24/7 online
                                    support........................................................</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------>

    <div class="textdisplay">
        <h1><strong>SERVICES</strong></h1>
        <h3>Introduction about services!!!!!!!!!!!!!!!!!<br>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3><br>
    </div>

    <div class="service">
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-5  col-md-offset-2">

                    <img src=@routes.Assets.versioned("images/image6.png")/>
                    <h4>FINANCIAL PLANNING</h4>
                    <p>Test about financial planning</p>
                    <img src=@routes.Assets.versioned("images/image6.png")>
                    <h4>WORK AND REDUNDANCY</h4>
                    <p>Test about work and redundancy</p>
                    <img src=@routes.Assets.versioned("images/image6.png")>
                    <h4>RETIREMENT PLANNING</h4>
                    <p>Test about retirement planning</p>
                </div>


                <div class="col-md-5 ">
                    <img src=@routes.Assets.versioned("images/image6.png")/>
                    <h4>BUSINESS PLANNING</h4>
                    <p>Test about business planning</p>
                    <img src=@routes.Assets.versioned("images/image6.png")>
                    <h4>MORTGAGE ADVISOR</h4>
                    <p>Test about mortgage advisor</p>
                    <img src=@routes.Assets.versioned("images/image6.png")>
                    <h4>SAVING AND INVESTING</h4>
                    <p>Test about saving and investing</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 services-right">
            <div class="col-md-3">
                <div class="services-right-inner">
                    <h2>Our Services</h2>
                    <p>Text about services. sdakjaisdhiwudh kjdidj wididiwhd kiwjdhiwhdiwuh
                        kjdshsfkkjh kldlfjehefk efkhkjsdhf ..... . . ........ ...........
                        ........... .............. ............. ........ ........... </p>
                    <button type="button" class="btn">learn more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="consult">
        <div class="col-md-8">
            <h3>Need to <a href="#">Consult with us </a>?Book an appointment</h3>
            <p>The brandy brunch.....</p>
        </div>
        <div class="col-mod-4">
            <button type="button" class="btn">Book Now</button>

        </div>
    </div>

    <div class="portfolio">
        <h1><strong>PORTFOLIO</strong></h1>
        <p>text about portfolio......</p>

        <br>
        <div class="">
            <div class="col-mod-4">
            </div>
            <div class="col-mod-4">
            </div>
            <div class="col-mod-4">
            </div>
            <div class="col-mod-4">
            </div>
        </div>

    </div>
</div>


}